body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00416d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  color: #fff;
  font-size: 30px;
}

.loader {
  text-align: center;
  margin: auto;
  padding: 15px;
  font-size: 30px;
  color: #fff;
}

button {
  width: 250px;
  padding: 10px;
  background-color: #81b214;
  border: none;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
}
